* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Figtree";
    src: 
        url(assets/fonts/Figtree-VariableFont_wght.ttf);
        font-weight: 300 900;
        font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: 
        url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
        font-weight: 300 900;
        font-style: italic;
}

.attribution { 
    font-size: 0.6875rem; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #F4D04E;
    font-family: Figtree;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    min-width: 303px;
    height: 502px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 12px;
    gap: 24px;
    border: 1px solid #111111;
    filter: drop-shadow(8px 8px #111111);
}

.ilustration {
    max-width: 336px;
    min-width: 279px;
    height: 200px;
    border-radius: 10px;
}

.containner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 336px;
    min-width: 279px;
    max-height: 194px;
    min-height: 173px;
}

.tag {
    color: #111111;
    background-color: #F4D04E;
    font-size: clamp(12px, calc(11.3px + 0.19vw), 14px);
    font-weight: 700;
    margin: 0 0 12px 0;
    padding: 4px 12px 4px 12px;
    line-height: 150%;
    border-radius: 4px;
    display: inline-flex;
}

.published-date {
    color: #111111;
    font-size: clamp(12px, calc(11.3px + 0.19vw), 14px);
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 12px 0;
    max-width: 336px;
}

.title a{
    color: #111111;
    font-size: clamp(20px, calc(18.6px + 0.376vw), 24px);
    font-weight: 800;
    line-height: 150%;
    margin: 0 0 12px 0;
    max-width: 336px;
    text-decoration: none;
}

a:hover{
    color: #F4D04E;
}

.description {
    color: #6B6B6B;
    font-size: clamp(14px, calc(13.3px + 0.188vw), 16px);
    line-height: 150%;
    max-width: 336px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 336px;
}

.user-img {
    width: 32px;
    height: 32px;
}

.user-name {
    color: #111111;
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
}